<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TradingPlatform</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginFail</display-name>
    <servlet-name>LoginFail</servlet-name>
    <jsp-file>/WEB-INF/login_fail.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginFail</servlet-name>
    <url-pattern>/login_fail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomePage</display-name>
    <servlet-name>HomePage</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePage</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginSuccess</display-name>
    <servlet-name>LoginSuccess</servlet-name>
    <jsp-file>/WEB-INF/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSuccess</servlet-name>
    <url-pattern>/login_success</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.fdmgroup.TradingPlatform.Servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <jsp-file>/logout.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.fdmgroup.TradingPlatform.Servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PortfolioServlet</display-name>
    <servlet-name>PortfolioServlet</servlet-name>
    <jsp-file>/WEB-INF/portfolio.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PortfolioServlet</servlet-name>
    <url-pattern>/portfolio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TradeRequests</display-name>
    <servlet-name>TradeRequests</servlet-name>
    <jsp-file>/WEB-INF/trade_requests.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>TradeRequests</servlet-name>
    <url-pattern>/trade_requests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestTradeServlet</display-name>
    <servlet-name>RequestTradeServlet</servlet-name>
    <jsp-file>/WEB-INF/trade_request.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestTradeServlet</servlet-name>
    <url-pattern>/trade_request</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <jsp-file>/WEB-INF/register.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.fdmgroup.TradingPlatform.Servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TradeRequestServlet</display-name>
    <servlet-name>TradeRequestServlet</servlet-name>
    <servlet-class>com.fdmgroup.TradingPlatform.Servlets.TradeRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TradeRequestServlet</servlet-name>
    <url-pattern>/TradeRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserManagement</display-name>
    <servlet-name>UserManagement</servlet-name>
    <jsp-file>/WEB-INF/user_management.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManagement</servlet-name>
    <url-pattern>/user_management</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserManagementServlet</display-name>
    <servlet-name>UserManagementServlet</servlet-name>
    <servlet-class>com.fdmgroup.TradingPlatform.Servlets.UserManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManagementServlet</servlet-name>
    <url-pattern>/UserManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUserRequest</display-name>
    <servlet-name>ViewUserRequest</servlet-name>
    <jsp-file>/WEB-INF/view_user_request.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUserRequest</servlet-name>
    <url-pattern>/view_user_request</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUserRequestServlet</display-name>
    <servlet-name>ViewUserRequestServlet</servlet-name>
    <servlet-class>com.fdmgroup.TradingPlatform.Servlets.ViewUserRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUserRequestServlet</servlet-name>
    <url-pattern>/ViewUserRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TradeRequestsServlet</display-name>
    <servlet-name>TradeRequestsServlet</servlet-name>
    <servlet-class>com.fdmgroup.TradingPlatform.Servlets.TradeRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TradeRequestsServlet</servlet-name>
    <url-pattern>/TradeRequestsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TradeHistoryServlet</display-name>
    <servlet-name>TradeHistoryServlet</servlet-name>
    <servlet-class>com.fdmgroup.TradingPlatform.Servlets.TradeHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TradeHistoryServlet</servlet-name>
    <url-pattern>/TradeHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSharesServlet</display-name>
    <servlet-name>ViewSharesServlet</servlet-name>
    <servlet-class>com.fdmgroup.TradingPlatform.Servlets.ViewSharesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSharesServlet</servlet-name>
    <url-pattern>/ViewSharesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommissionServlet</display-name>
    <servlet-name>CommissionServlet</servlet-name>
    <servlet-class>com.fdmgroup.TradingPlatform.Servlets.CommissionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommissionServlet</servlet-name>
    <url-pattern>/CommissionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendUserRequest</display-name>
    <servlet-name>SendUserRequest</servlet-name>
    <jsp-file>/WEB-INF/send_user_request.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendUserRequest</servlet-name>
    <url-pattern>/send_user_request</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendUserRequestServlet</display-name>
    <servlet-name>SendUserRequestServlet</servlet-name>
    <servlet-class>com.fdmgroup.TradingPlatform.Servlets.SendUserRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendUserRequestServlet</servlet-name>
    <url-pattern>/SendUserRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessUserRequestServlet</display-name>
    <servlet-name>ProcessUserRequestServlet</servlet-name>
    <servlet-class>com.fdmgroup.TradingPlatform.Servlets.ProcessUserRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessUserRequestServlet</servlet-name>
    <url-pattern>/ProcessUserRequestServlet</url-pattern>
  </servlet-mapping>
</web-app>